#top {
	background: #008202 url("../images/top_what-you-need_bg.gif") repeat-x scroll bottom;
}

#subhead {
	height: 146px;
	margin-bottom: 120px;
	_position: relative;
}

#subhead_content {
	_position: absolute;
	_top: 0px;
	_left: 0px;
}

h3, h4 {
	color: #008202;
	text-align: left;
	margin-bottom: 10px;
}

.right {
	margin-left: 40px;
}

.left {
	margin-right: 40px;
}

.clear {
	height: 15px;
}

#bottom {
	background-color: #008202;
}
	#bottom a {
		color: #ffffff;
		background-color: #008202;
	}