/* Base rules
 *
 * Sets defaults for HTML elements only, listed in alphabetical order
 *
 */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $default-main-color;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
  }
}

body {
  font: $default-font-size Helvetica, Arial, sans-serif;
  color: #000;
}

h1, h2, h3 {

}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  margin-bottom: 1em;
}

sup {
  font-size: 80%;
  position: relative;
  top: -1empx;
  left: 0.5em;
}

textarea {
  font: 100% Helvetica, Arial, sans-serif;
}

ul {
  margin-left: 1em;
}