/* modules / swatchSelection
 *
 * Shows all information about a single product.
 *
 */

@import "compass/css3";

@import "config/colors";

@import "config/vars";


.m-heroSlideshow {

  position: relative;

  .e-smallImage {
    margin: 0 2em 2em 0;
  }
  
  .e-largeImage {
    left: 0;
    position: absolute;
    top: 0;
  }

}

.m-heroSlideshow-largeImages {
  
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
